h1 {
  background-color: #6eca71;
  color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
    background-color: #c1e1c1;
  }

  .left {
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 350px;
    padding: 10px 10px;
  }

  img {
    border: 20px solid #75c273;
  }
