h1 {
  background-color: #6eca71;
  color: rgb(50, 106, 47);
  font-style: oblique;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
    background-color: #c1e1c1;
  }

  #Tea-Cups {
    width: 350;
    padding: 10px, 10px;
    border: 20px solid #75c273;
  }

  #Books-And-Tea {
   width: 350;
   padding: 10px, 10px;
   border: 20px solid #75c273;
  }

  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .right {
    display: flex;
    justify-content: flex-end;
    border: 20px solid #75c273;
  }
 
